* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* font-family: 'Raleway', sans-serif;
font-family: 'Rancho', cursive; */

/*-----common styles------ */
p,
span {
    color: #1B1A1A;
    font-family: 'Raleway', sans-serif;
}

section {
    padding: 60px 0;
}

.section-name {
    text-align: center;
    margin-bottom: 40px;
}

.section-title {
    color: #331A15;
    font-family: 'Rancho', cursive;
    font-size: 40px;
}

/*-----header design start here------ */

header .nav {
    width: 100%;
    height: 90px;
    background-image: url('./images/more/15.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

header .nav .logo {
    color: #FFF;
    font-family: 'Rancho', cursive;
    font-size: 50px;
    line-height: normal;
}

header .banner {
    width: 100%;
    height: calc(100vh - 90px);
    padding: 0 200px;
    background-image: url('./images/more/3.png');
    background-position: top;
    background-size: cover;
    display: flex;
    align-items: center;
}

header .banner div {
    width: 50%;
    margin-left: auto;
}

header .banner h3 {
    color: #FFF;
    font-family: 'Rancho', cursive;
    font-size: 48px;
}

header .banner p {
    color: #FFF;
    font-family: 'Raleway', sans-serif;
    line-height: 30px;
    margin: 16px 0px 32px 0px;
}

header .banner button {
    padding: 10px 15px;
    color: #242222;
    background-color: #E3B577;
    font-weight: 500;
    border: none;
    font-family: 'Rancho', cursive;
    font-size: 18px;
}
header .banner button:hover{
    cursor: pointer;
}

header .about-product {
    background: #ECEAE3;
}

.about-product .parent-div {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: 300px;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.about-product div h4 {
    color: #331A15;
    font-family: 'Rancho', cursive;
    font-size: 24px;
    margin: 12px 0px;
}


/*-----main design start here------ */

.products-section {
    position: relative;
    overflow: hidden;
}

.products-section .cup-img {
    top: 60px;
    left: -80px;
    position: absolute;
    z-index: -1;
}

.products-section .shop-img {
    right: -80px;
    bottom: 0;
    position: absolute;
    z-index: -1;
}

.add-btn {
    padding: 10px 15px;
    border-radius: 5px;
    border: 2px solid #331A15;
    background: #E3B577;
    margin: 20px auto;
    font-family: 'Rancho', cursive;
    font-size: 18px;
}
.add-btn:hover, .add-btn2:hover{
    cursor: pointer;
}

.products {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
    z-index: 10;
}

.product {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    background: #F5F4F1;
    padding-right: 40px;
}

.product p {
    margin-bottom: 12px;
}

.product p span {
    font-weight: bold;
}

.actions {
    display: flex;
    gap: 10px;
    flex-direction: column;
    flex-grow: grow;
    margin-left: auto;
}

.view-btn,
.update-btn,
.delete-btn {
    padding: 10px;
    border-radius: 5px;
    color: white;
    text-align: center;
}

.view-btn {
    background: #D2B48C;
}

.update-btn {
    background: #3C393B;
}

.delete-btn {
    background: #EA4744;
}


/*-----follow section start here------ */
.follow-section {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.img-container {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
}

.img-container img {
    width: 100%;
}

/*-----contact section start here------ */
.contact-section {
    background: url('./images/more/13.jpg'), lightgray 50% / cover no-repeat;
}

.contact-section .parent-div {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    gap: 100px;
    justify-content: space-between;
}

.contact-info {
    width: 50%;
}

.website-name {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 20px;
}

.website-name .logo {
    font-family: 'Rancho', cursive;
    font-size: 40px;
    line-height: normal;
}

.social-icons {
    margin: 20px 0px;
    display: flex;
    gap: 10px;
}

.social-icons i {
    font-size: 24px;
}

.sub-title {
    font-family: 'Rancho', cursive;
    font-size: 40px;
    line-height: normal;
    margin-bottom: 20px;
}

.contact-form {
    width: 50%;
}

.contact-form .form {
    width: 100%;
    margin: 20px auto;
}

.contact-form .form input,
.contact-form .form textarea {
    border: 1px solid rgba(128, 128, 128, 0.350);
    outline: 0;
    padding: 1em;
    display: block;
    width: 100%;
    margin-top: 1em;
    box-shadow: (0 1px 1px rgba(black, 0.1));
    resize: none;
    font-family: 'Raleway', sans-serif;
}

textarea {
    height: 100px;
    margin-bottom: 20px;
}

#input-submit {
    padding: 10px 25px;
    border-radius: 30px;
    border: 2px solid #331A15;
    color: #331A15;
    cursor: pointer;
    font-family: 'Rancho', cursive;
    font-size: 18px;
}

.phone,
.email,
.address {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 10px;
}

/*-----add coffee section start here------ */
.add-coffee-section {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.back-btn {
    border: none;
    background-color: transparent;
    font-weight: 500;
    font-size: 24px;
}

.back-btn a {
    text-decoration: none;
    color: #374151;
}

.back-btn a span {
    font-family: 'Rancho', cursive;
}

.add-form {
    width: 100%;
    border-radius: 5px;
    background: #F4F3F0;
    padding: 50px 100px;
    margin-top: 25px;
}

.add-form .form input {
    border: 1px solid rgba(128, 128, 128, 0.200);
    border-radius: 5px;
    outline: 0;
    padding: 1em;
    display: block;
    width: 100%;
    margin-top: 1em;
    box-shadow: (0 1px 1px rgba(black, 0.1));
    resize: none;
    font-family: 'Raleway', sans-serif;
}

.input-row {
    display: flex;
    gap: 20px;
}

.input-row div {
    width: 100%;
    margin-bottom: 20px;
}

.input-row div label {
    color: rgba(27, 26, 26, 0.80);
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.add-btn2 {
    width: 100%;
    padding: 12px 25px;
    border-radius: 5px;
    border: 2px solid #331A15;
    background: #E3B577;
    margin: 20px auto;
    font-family: 'Rancho', cursive;
    font-size: 18px;
}


/*-----footer start here------ */
footer {
    background-image: url('./images/more/24.jpg');
    width: 100%;
    height: 80px;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    color: white;
    font-family: 'Rancho', cursive;
}